/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: #111111;
  color:white;
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
}
=======
>>>>>>> 267d7d402d3fa29230b34863bcc1e266c40a1cf9
